.table-responsive{
	height: calc(100% - 48px);
}
.table td, .table th{
	white-space: pre-wrap;
	padding: 18px 20px;
}
.table th,.table td.py-1{
	white-space: nowrap;
}
.table td img, .table th img{
	/*margin-top: -30px;*/
}
.table td.pressman-opt{
	white-space: nowrap;
}