<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">        	
            <div class="card-body">
            	<div class="d-flex align-items-center">
	            	<h4 class="card-title">
	            	    Empadronados
	            	</h4>
	            	<form [formGroup]="search_form" autocomplete="off" (submit)="search()" class="ml-auto mr-0" novalidate>
	            		<div class="input-group">
                    <select class="form-control" formControlName="search_type" name="search_type"> 
                      <option [ngValue]="'CPP'" [selected]="true">CPP N°</option>
                      <option [ngValue]="'ap_paterno'">Ap. Paterno</option>
                      <option [ngValue]="'ap_materno'">Ap. Materno</option>
                      <option [ngValue]="'nombre'">Nombre</option>
                      <option [ngValue]="'DNI'">DNI</option>
                      <option [ngValue]="'condicion'">Condición</option>
                    </select>
                    <input type="text" formControlName="search_value" name="search_value" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="colored-addon3">
                    <div class="input-group-append bg-primary border-primary">
                      <button class="input-group-text bg-transparent text-white">
                        <fa-icon [icon]="fas.faSearch"></fa-icon>
                      </button>
                    </div>
                  </div>
	            	</form>
	            </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Foto
                                </th>
                                <th>
                                    CPP
                                </th>
                                <th>
                                    A. Paterno
                                </th>
                                <th>
                                    A. Materno
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Condición
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="pressmen">
                            <tr *ngFor="let pressman of pressmen">
                                <td class="py-1">
                                    <img alt="profile image" [src]="getPhoto(pressman)"/>
                                </td>
                                <td>{{pressman.CPP}}</td>
                                <td>{{pressman.ap_paterno}}</td>
                                <td>{{pressman.ap_materno}}</td>
                                <td>{{pressman.nombre}}</td>
                                <td>{{pressman.condicion}}</td>
                                <td class="pressman-opt">
                                    <a href="#" class="btn btn-danger btn-sm">Eliminar</a>
                                    <a href="#" [routerLink]="['/admin/editar',pressman.CPP]" class="btn btn-warning btn-sm">Editar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
