<div class="row">
    <div class="col-12 grid-margin">
        <div *ngIf="log.title" id="alert" class="alert alert-warning" role="alert">
          <h5>{{log.title}}</h5>
          <p>{{log.message}}</p>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    Nuevo Registro
                </h3>
                <form *ngIf="pressman" class="forms-sample" (submit)="addPressman()">
                    <div class="form-group">
                        <label for="CPP">
                            CPP
                        </label>
                        <input class="form-control" placeholder="CPP" type="text" name="CPP" [(ngModel)]="pressman.CPP" required/>
                    </div>
                    <div class="form-group">
                        <label for="ap_paterno">
                            Apellido Paterno
                        </label>
                        <input class="form-control" placeholder="Apellido Paterno" type="text" name="ap_paterno" [(ngModel)]="pressman.ap_paterno" required/>
                    </div>
                    <div class="form-group">
                        <label for="ap_materno">
                            Apellido Materno
                        </label>
                        <input class="form-control" placeholder="Apellido Materno" type="text" name="ap_materno" [(ngModel)]="pressman.ap_materno" required/>
                    </div>
                    <div class="form-group">
                        <label for="nombre">
                            Nombres
                        </label>
                        <input class="form-control" placeholder="Nombres" type="text" name="nombre" [(ngModel)]="pressman.nombre" required/>
                    </div>
                    <div class="form-group">
                        <label for="DNI">
                            DNI
                        </label>
                        <input class="form-control" placeholder="DNI" type="text" name="DNI" [(ngModel)]="pressman.DNI"/>
                    </div>
                    <div class="form-group">
                        <label>
                            Foto
                        </label>
                        <input class="file-upload-default" id="foto" name="img" type="file" (change)="selectFoto()"/>
                        <div class="input-group col-xs-12">
                            <input class="form-control file-upload-info" disabled="" placeholder="Foto" type="text" name="foto" [(ngModel)]="pressman.foto"/>
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-info" type="button" (click)="showPhotoChooser()">
                                    Subir
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="condicion">
                            Condición
                        </label>
                        <select class="form-control" name="condicion" [(ngModel)]="pressman.condicion">
                            <option [ngValue]="'EXPULSADO'">
                                EXPULSADO
                            </option>
                            <option [ngValue]="'FALLECIDO'">
                                FALLECIDO
                            </option>
                            <option [ngValue]="'HABILITADO'">
                                HABILITADO
                            </option>
                            <option [ngValue]="'INHABILITADO'">
                                INHABILITADO
                            </option>
                            <option [ngValue]="'OBSERVADO'">
                                OBSERVADO
                            </option>
                            <option [ngValue]="'VITALICIO'">
                                VITALICIO
                            </option>
                            <option [ngValue]="'RENUNCIO'">
                                RENUNCIO
                            </option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                            Sexo
                        </label>
                        <div class="col-sm-4">
                            <div class="form-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="sexo" type="radio" [(ngModel)]="pressman.sexo"  value="MASCULINO"/>
                                    Masculino
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="sexo" type="radio" [(ngModel)]="pressman.sexo" value="FEMENINO"/>
                                    Femenino
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telefono">
                            Teléfono
                        </label>
                        <input class="form-control" name="telefono" placeholder="Teléfono" type="text" [(ngModel)]="pressman.telefono"/>
                    </div>
                    <div class="form-group">
                        <label for="mail">
                            Mail
                        </label>
                        <input class="form-control" name="telefono" placeholder="Mail" type="email" [(ngModel)]="pressman.mail"/>
                    </div>
                    <div class="form-group">
                        <label for="padron">
                            Padrón
                        </label>
                        <input class="form-control" name="padron" placeholder="Padrón" type="text" [(ngModel)]="pressman.padron"/>
                    </div>
                    <div class="form-group">
                        <label for="date_nac">
                            Fecha de Nacimiento
                        </label>
                        <input class="form-control" name="date_nac" placeholder="dd/mm/yyyy" type="text" [(ngModel)]="pressman.date_nac"/>
                    </div>
                    <div class="form-group">
                        <label for="date_coleg">
                            Fecha de Colegiatura
                        </label>
                        <input class="form-control" name="date_coleg" placeholder="dd/mm/yyyy" type="text" [(ngModel)]="pressman.date_coleg"/>
                    </div>
                    <button class="btn btn-success mr-2" type="submit">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
