<div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" href="index.html">
                <img alt="logo" src="https://firebasestorage.googleapis.com/v0/b/padron-cp-lima.appspot.com/o/logox.png?alt=media&token=0c7b3f2a-8cba-4ee0-8d87-d5b576348d73"/>
                <span>
                    CP-Lima
                </span>
            </a>
            <a class="navbar-brand brand-logo-mini" href="index.html">
                <img alt="logo" src="https://firebasestorage.googleapis.com/v0/b/padron-cp-lima.appspot.com/o/logox.png?alt=media&token=0c7b3f2a-8cba-4ee0-8d87-d5b576348d73"/>
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" data-toggle="offcanvas" type="button">
                <span class="icon-menu">
                </span>
            </button>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <div class="nav-link">
                        <div class="user-wrapper">
                            <div class="profile-image">
                                <img alt="profile image" src="https://firebasestorage.googleapis.com/v0/b/padron-cp-lima.appspot.com/o/default-user-icon-profile.png?alt=media&token=da71aea1-1a8f-45d5-be19-92e07cd50af9"/>
                            </div>
                            <div class="text-wrapper">
                                <p class="profile-name">
                                    Manuel A. Carbajal
                                </p>
                                <div>
                                    <small class="designation text-muted">
                                        Administrador
                                    </small>
                                    <span class="status-indicator online">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <a [routerLink]="['/admin/nuevo']" class="btn btn-success btn-block">
                            Nuevo Registro
                            <i class="mdi mdi-plus">
                            </i>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/periodistas']">
                        <fa-icon [icon]="far.faListAlt" class="mr-2"></fa-icon>
                        <span class="menu-title">
                            Empadronados
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <router-outlet>
                </router-outlet>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                        Copyright © 2018
                        <a href="http://www.bootstrapdash.com/" target="_blank">
                            CP-Lima
                        </a>
                        . Todos los derechos reservados.
                    </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                        Desarrollado por - Manuel Carbajal
                        <i class="mdi mdi-heart text-danger">
                        </i>
                    </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
</div>
