<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auto-form-wrapper">
                        <form [formGroup]="form" autocomplete="off" (submit)="login()" novalidate>
                            <div class="form-group">
                                <label class="label">
                                    Email
                                </label>
                                <div class="input-group">
                                    <input class="form-control" formControlName="email" name="email" placeholder="Dirección de Email" type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">
                                    Contraseña
                                </label>
                                <div class="input-group">
                                    <input class="form-control" formControlName="password" name="password" placeholder="*********" type="password"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary submit-btn btn-block">
                                    Ingresar
                                </button>
                            </div>
                            <!--
                            <div class="form-group">
                                <button class="btn btn-block g-login">
                                    <img alt="" class="mr-3" src="../../images/file-icons/icon-google.svg"/>
                                    Ingresar con Google
                                </button>
                            </div>
                        	-->
                        </form>
                    </div>
                    <ul class="auth-footer">
                        <li>
                            <a href="#">
                                Conditions
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Help
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Terms
                            </a>
                        </li>
                    </ul>
                    <p class="footer-text text-center">
                        copyright © 2018 CP - Lima. Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
