<header>
  <nav class="navbar navbar-light bg-light d-flex justify-content-center">
    <a class="navbar-brand m-0" href="#">
      <img src="https://firebasestorage.googleapis.com/v0/b/padron-cp-lima.appspot.com/o/logox.png?alt=media&token=0c7b3f2a-8cba-4ee0-8d87-d5b576348d73" width="30" height="30" class="d-inline-block align-top" alt="">
      <span>Padrón de Miembros de la Orden Ordinarios</span>
    </a>
  </nav>
</header>
<section>
	<div class="container">
		<form class="form-inline justify-content-center search-form" (submit)="search($event)">
			<div class="input-group">
				<select class="custom-select my-1 mr-sm-2" name="search_type" [(ngModel)]="search_type">				
					<option [value]="'CPP'">CPP N°</option>
					<option [value]="'ap_paterno'">Ap. Paterno</option>
					<option [value]="'ap_materno'">Ap. Materno</option>
					<option [value]="'nombre'">Nombre</option>
					<option [value]="'DNI'">DNI</option>
					<option [value]="'condicion'">Condición</option>
				</select>
			</div>
			<input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Escriba aquí..." name="search_value" [(ngModel)]="search_value">
			<button type="submit" class="btn btn-primary mb-2">Buscar</button>
			<button class="btn btn-warning mb-2 ml-2" (click)="cleanData()">Limpiar</button>
		</form>
		<div class="table-container ">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Foto</th>
						<th scope="col">CPP</th>
						<th scope="col">DNI</th>
						<th scope="col">AP. PATERNO</th>
						<th scope="col">AP. MATERNO</th>
						<th scope="col">NOMBRE</th>
						<th scope="col">CONDICIÓN</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let pressman of pressmen">
						<td class="py-1">
                            <img alt="profile image" [src]="getPhoto(pressman)"/>
                        </td>
						<td>{{pressman.CPP}}</td>
						<td>{{pressman.DNI}}</td>
						<td>{{pressman.ap_paterno}}</td>
						<td>{{pressman.ap_materno}}</td>
						<td>{{pressman.nombre}}</td>						
						<td>{{pressman.condicion}}</td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
</section>