.search-form select{
	margin-bottom: 8px!important;
    margin-top: 0!important;
}
section{
    padding: 30px 15px;
}
.btn-warning{ 
	color: #fff;
}
th,td{
	border: solid 1px #d2d2d2!important;
}
select::before {
    z-index: 5;
    content: "";
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    display: block;
}
.navbar img{
    width: 70px;
    height: auto;
}
.navbar span{
    vertical-align: middle;
    line-height: 70px;
    margin-left: 10px;
}